<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <title>ボタン</title>
  </head>
  <body>

    <div class="container-fluid m-3">
      <button type="button" class="">Bootstrapではないボタン</button>
    </div>

    <div class="container-fluid m-3">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>

    </div>

    <div class="container-fluid m-3">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-light">Light</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>
    <div class="container-fluid m-3">
      <button class="btn btn-primary btn-lg btn-block" type="button">ブロックレベル</button>
      <button class="btn btn-secondary btn-lg btn-block" type="button">ブロックレベル</button>
    </div>

    <div class="container-fluid m-3">
      <button class="btn btn-primary btn-lg btn-block" type="button" disabled>非活性</button>
      <button class="btn btn-secondary btn-lg btn-block" type="button" disabled>非活性</button>
    </div>
    <div class="container-fluid m-3">
      <a href="#" class="btn btn-primary">Link</a>
      <button class="btn btn-primary">Button</button>
      <input type="button" class="btn btn-primary" value="Input">
      <input type="submit" class="btn btn-primary" value="Submit">
      <input type="reset" class="btn btn-primary" value="Reset">
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="../js/jquery-3.6.4.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>