<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <title>チェック、ラジオボタン</title>
  </head>
  <body>
    <!-- 縦長チェックボックス -->
    <div class="container-fluid m-3">
      <form>
        <div class="form-group">
          <input type="checkbox" class="form-check-input" value="" id="foo_cb_h">
          <label for="foo_cb_h" class="form-check-label">foo</label>
        </div>
        <div class="form-group">
          <input type="checkbox" class="form-check-input" value="" id="bar_cb_h">
          <label for="bar_cb_h" class="form-check-label">bar</label>
        </div>
      </form>
    </div>
    <!-- 横長チェックボックス -->
    <div class="container-fluid m-3">
      <form>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" value="option1" id="foo_cb_v">
          <label for="foo_cb_v" class="form-check-label">foo</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" value="option2" id="bar_cb_v">
          <label for="bar_cb_v" class="form-check-label">bar</label>
        </div>
      </form>
    </div>
    <!-- 縦長ラジオボタン -->
    <div class="container-fluid m-3">
      <form>
        <div class="form-group">
          <input type="radio" class="form-check-input" value="" id="foo_rb_h">
          <label for="foo_rb_h" class="form-check-label">foo</label>
        </div>
        <div class="form-group">
          <input type="radio" class="form-check-input" value="" id="bar_rb_h">
          <label for="bar_rb_h" class="form-check-label">bar</label>
        </div>
      </form>
    </div>
    <!-- 横長ラジオボタン -->
    <div class="container-fluid m-3">
      <form>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" value="option1" id="foo_rb_v">
          <label for="foo_rb_v" class="form-check-label">foo</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" value="option2" id="bar_rb_v">
          <label for="bar_rb_v" class="form-check-label">bar</label>
        </div>
      </form>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="../js/jquery-3.6.4.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>