<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <title>トグルスイッチ</title>
  </head>
  <body>
    <!-- Button triger modal     -->
    <div class="container-fluid p-5">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#foo">基本のモーダル</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="foo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">モーダルタイトル</h5>
            <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
            </button>
          </div>
          <div class="modal-body">
            .....
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-primary">保存する</button>
          </div>
        </div>
      </div>
    </div>

        <!-- Button triger modal     -->
        <div class="container-fluid p-5">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#boo">基本のモーダル</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="boo">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">モーダルタイトル</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                </button>
              </div>
              <div class="modal-body">
                .....
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary">保存する</button>
              </div>
            </div>
          </div>
        </div>

        
          
        <div class="container-fluid p-5">
          <!-- Extra Large -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aaa">より大きめのモーダル</button>
          <!-- Modal -->
          <div class="modal fade" id="aaa">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">モーダルタイトル</h5>
                  <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                  </button>
                </div>
                <div class="modal-body">
                  .....
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                  <button type="button" class="btn btn-primary">保存する</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Large Large -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bbb">大きめのモーダル</button>
          <!-- Modal -->
          <div class="modal fade" id="bbb">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">モーダルタイトル</h5>
                  <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                  </button>
                </div>
                <div class="modal-body">
                  .....
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                  <button type="button" class="btn btn-primary">保存する</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Small Large -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ccc">小さめのモーダル</button>
          <!-- Modal -->
          <div class="modal fade" id="ccc">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">モーダルタイトル</h5>
                  <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                  </button>
                </div>
                <div class="modal-body">
                  .....
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                  <button type="button" class="btn btn-primary">保存する</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="../js/jquery-3.6.4.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>