<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <title>ページネーション</title>
  </head>
  <body>
    
    <div class="container-fluid p-5">
      <nav>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#" class="page-link">前</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>          
          <li class="page-item active"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">次</a></li>
        </ul>
      </nav>
    </div>
    <hr>

    <div class="container-fluid p-5">
      <nav>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#" class="page-link"><span>&laquo;</span></a></li>
          <li class="page-item disabled"><a href="#" class="page-link">前</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>          
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">次</a></li>
          <li class="page-item disabled"><a href="#" class="page-link"><span>&raquo;</span></a></li>
        </ul>
      </nav>
    </div>

    <hr>

    <div class="container-fluid p-5">
      <nav>
        <ul class="pagination pagination-lg">
          <li class="page-item disabled"><a href="#" class="page-link"><span>&laquo;</span></a></li>
          <li class="page-item disabled"><a href="#" class="page-link">前</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>          
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">次</a></li>
          <li class="page-item disabled"><a href="#" class="page-link"><span>&raquo;</span></a></li>
        </ul>
      </nav>
      <nav>
        <ul class="pagination pagination-sm">
          <li class="page-item disabled"><a href="#" class="page-link"><span>&laquo;</span></a></li>
          <li class="page-item disabled"><a href="#" class="page-link">前</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>          
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">次</a></li>
          <li class="page-item disabled"><a href="#" class="page-link"><span>&raquo;</span></a></li>
        </ul>
      </nav>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="../js/jquery-3.6.4.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>