<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <title>グリッドシステム</title>
  </head>
  <body>
    <div class="container pt-3">
        <div class="row">
          <div class="col bg-primary">ブロックA</div>
          <div class="col bg-secondary">ブロックB</div>
          <div class="col bg-success">ブロックC</div>
        </div>
        <div class="row">
          <div class="col-3 bg-primary">ブロックD</div>
          <div class="col-6 bg-secondary">ブロックE</div>
          <div class="col-3 bg-success">ブロックF</div>
        </div>
        <div class="row">
          <div class="col-5 bg-primary">ブロックG</div>
          <div class="col-7 bg-secondary">ブロックH</div>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="../js/jquery-3.6.4.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>